.button {
  padding: 4px 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.button--primary {
  color: #FFF !important;
  background-color: var(--primary-color);
  border-radius: 4px;
}